*{
    font-family: 'Anuphan', sans-serif;
    margin: 0;
    padding: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: rgba(0, 0, 0, 0.93);
  z-index: 0;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-list{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-right: 400px;
}
.nav-list li a {
  text-decoration: none;
  color: aliceblue;
  padding: 1.5em;
}
.abrirMenu{
  display: none;
  border: 0;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  color: aliceblue;
}

.cerrarMenu{
  display: none;
  border: 0;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  color: aliceblue;

}

@media screen and (max-width: 550px){

  .abrirMenu{
      display: block;
  }

  .cerrarMenu{
      display: block;
  }

  .nav.visible{
      opacity: 1;
      visibility: visible;
  }

  .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      align-items: end;
      gap: 1rem;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.93);
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.93);
  }

  .nav-list{
      flex-direction: column;
      align-items: end;
      margin-right: 1px;
  }
}
.sectionFondo {
    margin-top: 20px;
    text-align: center;
}
.fondo2{
    margin-top: 250px;

    margin-bottom: 400px;
}
/* AGREGADO */
.container-fluid {
    width: 80%; 
    margin-top: 0px;}
.mapTitle{
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
     margin: 0;
     text-align: center;
    margin-top: 400px;
    text-align: center;
}
.mapa {
    width: 420px;
    height: 320px;
    border: #fffdfd 3px;
    margin-top: -250px;
    margin-bottom: 80px; }

    @media (hover: hover) and (pointer: fine) {
        .underline:hover::before {
          left: 0;
          right: auto;
          width: 100%; } }
      
      @media only screen and (min-width: 768px) {
        /* tablets and desktop */ }
      
      @media only screen and (max-width: 767px) {
        /* phones */ }
      
      @media only screen and (max-width: 767px) and (orientation: portrait) {
        /* portrait phones */ }
/*CONTACTO*/
.descripcion-contacto {
    font-size: 20px;
    font-family: "Montserrat", sans-serif; }
  
  .formulario {
    padding: 0px;
    width: 600px;
    height: 450px;
    margin-bottom: 5px;
   }
  
   #boton {
    margin-top: 20px;
    margin-bottom: 20px;}

/*FOOTER*/ 
footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    font-weight: bold; 
    height: fit-content;
}
    footer p {
      text-align: center;
      font-size: 20px;
      color: white;
 }
    footer h4 {
      text-align: center;
      font-size: 20px;
      color: white;
      font-size: 30px;

      border-bottom: 2px solid #A77917; }
    footer i {
      text-align: center;
      font-size: 20px;
      color: white; 
    padding-left: 20px;}
    footer .nav-link {
      text-decoration: none;
      color: white; 
    }
      

      .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    
    .my-float{
        margin-top:16px;
    }
  