* {
    font-family: 'Anuphan', sans-serif;
    margin: 0;
    padding: 0;
}

nav.abajo {
    font-size: 15.4px;
}

.abajo img {
    display: block;
    transition: 1.5s;
}

.img {
    display: none;
    transition: 0.8s;
}

nav.abajo a {
    color: rgb(255, 253, 253);
}

.abajo .mainDiv {
    background-color: rgba(0, 0, 0, 0.93);
    width: 100%;
}

.abajo .navDiv {
    width: 1000px;
}

.mainDiv {
    display: flex;
    flex-wrap: row wrap;
    text-align: center;
    padding-left: 7em;
    position: fixed;
    top: 0;
    transition: 0.8s;
}

.navDiv {
    width: 180vh;
    align-items: center;
    padding-top: 50px;
}

.navDiv a {
    text-decoration: none;
    padding: 2.5em;
    color: black;
    align-items: center;
    color: rgb(0, 0, 0);
}

.navDiv a:hover {
    color: brown;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 140px;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;



}


p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.catering {
    height: 410px;
    width: 650px;
}

.imgServDeg {
    height: 350px;
    width: 650px;
    margin-top: 5px;
}

#header {
    background-color: rgba(255, 255, 255, 0.993);
}

#catering {
    background-color: rgb(255, 255, 255);
    width: 800px;
    text-align: center;
}

#servicios {
    background-color: rgb(255, 255, 255);
    width: 800px;
    text-align: center;
}

#degustaciones {
    background-color: rgb(255, 255, 255);
    width: 800px;
    text-align: center;
}


footer {
    width: 100%;
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.93);
    font-weight: bold;
}

footer p {
    text-align: center;
    font-size: 20px;
    color: white;
}

footer h4 {
    text-align: center;
    font-size: 20px;
    color: white;
    font-size: 30px;

    border-bottom: 2px solid #A77917;
}

footer i {
    text-align: center;
    font-size: 20px;
    color: white;
}

footer .nav-link {
    text-decoration: none;
    color: white;
}