*{
    font-family: 'Anuphan', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.93);
    z-index: 0;
    position: fixed;
    width: 100%;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-right: 400px;
}
.nav-list li a {
    text-decoration: none;
    color: aliceblue;
    padding: 1.5em;
}
.abrirMenu{
    display: none;
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
    color: aliceblue;
}

.cerrarMenu{
    display: none;
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
    color: aliceblue;

}

@media screen and (max-width: 550px){

    .abrirMenu{
        display: block;
    }

    .cerrarMenu{
        display: block;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.93);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.93);
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
        margin-right: 1px;
    }

    .fondo{
        display: none;
    }
    #sq1{
        display: none;
    }
    #fondov{
        width: 100%;
    }
    #img5{
        width: 100%;
    }
    #fondoh{
        display: none;
    }

    #fondob1{
        display: block;
        width: 100%;
    }
    .fondo2{
       display: none;
    }
    #sq3{
        display: none;
    }
}


/*  */

.fondob{
    display:none;
}
.fondoh{
    display: block;
}
.fondo2{
    margin-top: -500px;
    margin-left: 550px;
    margin-bottom: 400px;
}
.fondo{
    width: 100%;
    height: 100%;
}

.sqContainer{
    display: flex;
}

.sq2{
    display: block;
}

.sq1{
    padding: 6em;
    margin-top: 50px;
}

.sq1 h2{
    margin-bottom: 25px;
    font-size: 3em;
}

.sq1 p{
    font-size: 1.05em;
    margin-bottom: 25px;
}

.sq3{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
}

.sq5{
    display: flex;
    padding: 3px;
}

.sqContainer2{
    margin-bottom: 45px;
}

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
}
  
.box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
  
.box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
  
.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
  
.box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}
  
.box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.box a{
    text-decoration: none;
    color: black;
}
  
.menu{
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}
footer {
    width: 100%;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.93);
    font-weight: bold; }
    footer p {
    text-align: center;
    font-size: 20px;
    color: white;
}
footer h4 {
    text-align: center;
    font-size: 20px;
    color: white;
    font-size: 30px;

    border-bottom: 2px solid #A77917; }
footer i {
    text-align: center;
    font-size: 20px;
    color: white; }
footer .nav-link {
    text-decoration: none;
    color: white; }
      


@media screen and (max-width: 1200px){
    .imagenesMenu{
        display: none;
    }
}

@media screen and (max-width: 1660px) {
    h1::after, h1::before{
        display: none;
    }
}